body {
  font-family: 'Anonymous Pro', monospace;
  background-color:rgb(169, 184, 209);
}
.well {
  width: 300px;
  margin: 9% auto;
  background-color: rgb(16, 25, 38);
  border-radius: 3%;
} 
button{
  width: 50px;
  height: 45px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  border-radius: 30%
}
#show{
  text-align: right;
  background-color: rgb(127, 218, 255);
  margin-top: -15px;
  margin-right: -7px;
  margin-left: 0px;
  margin-bottom: 10px;
  border: 1.5px solid white;
  
}
#screen{
  margin-top: 5px;

}
#record{
  margin-bottom: 0px;
  margin-top: -10px;
  height: 23px;
}
h3{
  margin-top: 5px;
}
.well {
  padding-top: 30px;
}
#zero {
  width: 120px;
}
#point{ 
  width: 120px;
}
.eraser{
  background-color: rgb(150, 25, 31);
}
